{% extends 'base.html' %}
{% block body %}
    
<div class="relative">
<img src="static\images\AboutUsHeader.jpg" class="filter brightness-50" alt="">
<div  class="text-4xl whitespace-nowrap text-secondary font-bold absolute  top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">

    <h1 class="text-center">
        SnM Properties 
    </h1>
    <span>
    
        Where Every Property Tells a Unique Story
    </span>
</div>
</div>
<section>
    <div class="grid grid-cols-6 mt-32 gap-2">
        <div
          class="animatedHeading animation animationLeft"
        >
          <h1 class="text-center text-4xl text-white">Our Story </h1>
        
        </div>
      </div>
      <div class="text-black text-2xl px-32  animation animationRight ">
        <div class="">

            At SnM properties, we embarked on a mission to transform the real estate industry. Fueled by a vision of empowering sellers and buyers, we set out to create an online platform that revolutionizes the way properties are bought, sold, and rented. Our goal is to cut out the middleman and provide a seamless, transparent, and empowering experience for all users.
        </div>
      </div>
      <div class="grid grid-cols-6 mt-32 gap-2">
        <div
          class="animatedHeading animation animationLeft"
        >
          <h1 class="text-center text-4xl text-white">Our mission </h1>
        
        </div>
      </div>

      <div class="text-black text-2xl px-32 pb-32  animation animationRight ">
        <div class="">
            Our mission is simple: to empower individuals in their search for the perfect home. We believe that each house, apartment plot  has a unique story to tell, and we strive to create an environment where users can unlock those stories and find their dream homes. By leveraging cutting-edge technology and fostering trust, we aim to redefine the home buying, selling, and renting journey, making it exciting, transparent, and efficient.
        </div>
      </div>

</section>
{% endblock body %}